.container {
  display: flex;
  justify-content: space-between;
}

.title {
  flex: 1;
  text-align: center;
  margin: 0 5px;
}

.titlePage{
  text-align: center;
  font-weight: bold;
  font-family: 'Imprint MT Shadow', sans-serif;
}

.search-container{
  margin-top: 10px;
}



.cart-icon img {
  width: 40px; /* גודל האייקון של העגלת קניות */
  vertical-align: middle;
}

.cart-icon {
  position: relative;
  display: inline-block;
  
}

.cart-quantity {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 12px;
}
button {
  margin: 0 5px; 
}